/* 
    Main Topics:

    0- emojies
    1- Header 
    2- Heading text
    3- Selection, gallery, Questions and Answers (Q&A)

*/

/* 0- emojies (Start) */
.check-emoji,
.fire-emoji,
.cross-emoji {
    width: 14px;
    height: 14px;
}

.cross-emoji {
    margin-left: 5px;
}

/* 0- emojies (End) */


/* 1- Header Styles are in global.css file,
because this is a reusable element */


/* 2- Heading text (Start) */
.heading-text {
    color: var(--main-blue);
    margin-top: 48px;
    max-width: 362px;
}

/* Heading media query */
@media(min-width: 768px) {
    .heading-text {
        max-width: none;
    }
}


.heading-text .title,
.heading-text .subtitle,
.heading-text .heading-question {
    font-size: 20px;
    line-height: 24px;
}

.heading-text .title,
.heading-text .heading-question {
    font-weight: 700;
}

.heading-text .subtitle {
    font-weight: 500;
    margin: 13px 0 11px;
}

/* 2- Heading text (End) */


/* 3- Questions and Answers (Start) */
.questions-answers .q-and-a.name {
    margin-top: 26px;
}

.questions-answers .q-and-a .question-content {
    position: relative;
}

.questions-answers .q-and-a .question-content.part1 {
    margin-bottom: 84px;
}

.questions-answers .q-and-a .question-content.part2 {
    margin-bottom: 64px;
}

.questions-answers .q-and-a .question-content.part3 {
    margin-bottom: 64px;
}

.questions-answers .q-and-a .question-content .question-data {
    position: absolute;
    left: 56px;
    top: 20px;
}

.questions-answers .q-and-a .question-content .question {
    font-family: 'Agharti', 'Arial', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 20px;
    border-radius: 0px 144px 144px 140px;
    background-color: var(--green);
    color: white;
    min-height: 60px;
    padding: 20px 32px;
}

/* Media query */
@media(max-width:400px) {
    .questions-answers .q-and-a .question-content .question {
        font-size: 18px;
        height: 40px;
    }
}

.questions-answers .q-and-a .question-content .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-blue);
    margin-top: 8px;
    display: block;
}



.questions-answers .q-and-a.activity {
    margin-top: 32px;
}

.questions-answers .activity .answer {
    max-width: 311px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media(min-width: 768px) {
    .questions-answers .activity .answer {
        max-width: 90%;
    }
}

.questions-answers .q-and-a .answer .activity-answer {
    border: 1px solid var(--main-blue);
    border-radius: 64px 64px 0 64px;
    height: 52px;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    color: var(--main-blue);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

.questions-answers .q-and-a .answer .activity-answer .football {
    margin-right: 5px;
}

.questions-answers .q-and-a .answer button.edit-btn {
    font-size: 14px;
    font-weight: 500;
    min-height: 20px;
    margin-left: auto;
    color: var(--secondary-blue);
}

.questions-answers .q-and-a.choose {
    margin-top: 32px;
}

/* Selection (Start) */

.selections {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.selections .selection .selection-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--main-blue);
    margin-bottom: 16px;
}

.selections .selection .selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--main-blue);
    background-color: var(--grey-light);
    height: 56px;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
}

.selections .selection .selector .current-selected {
    display: flex;
    gap: 8px;
    align-items: center;
}

.selections .selection .selector .current-selected img.team-avatar {
    width: 24px;
    height: 24px;
}

.selections .selection .selector .current-selected .team-name {
    color: var(--main-blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.selections .selection .selector .arrow-down-up {
    width: 24px;
    display: flex;
    flex-direction: column;
    fill: var(--main-blue);
}

/* Selection (End) */

/* Gallery (Start) */
.gallery {
    margin: 32px 0px;
}

.gallery .question-content.part4 {
    margin-bottom: 72px;
}

.gallery .gallery-selection {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 1fr));
    column-gap: 20px;
    row-gap: 24px;
}

.gallery .gallery-selection .card .image {
    width: 100%;
    height: 190px;
    border-radius: 8px;
    border: 1px solid var(--grey);
    margin-bottom: 8px;
    cursor: pointer;
}

/* Gallery Media query */
@media(max-width:767px) {
    .gallery .gallery-selection {
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    }

    .gallery .gallery-selection .card .image {
        height: 130px;
    }
}

.gallery .gallery-selection .card .options {
    gap: 20px;
}

.gallery .gallery-selection .card .options .scale .scale-arrows {
    width: 100%;
    height: 100%;
}

.gallery .gallery-selection .card .options .scale,
.gallery .gallery-selection .card .check-floating {
    width: 22px;
    height: 22px;
    background-color: var(--grey-light);
    fill: var(--grey-medium);
    display: block;
    border: 1px solid var(--grey-medium);
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.gallery .gallery-selection .card .image {
    position: relative;
    background-size: cover;
}

.gallery .gallery-selection .card .image1 {
    background-image: url("../assets/images/gallery1.jpg");
}

.gallery .gallery-selection .card .image2 {
    background-image: url("../assets/images/gallery2.jpg");
}

.gallery .gallery-selection .card .image3 {
    background-image: url("../assets/images/gallery3.jpg");
}

.gallery .gallery-selection .card .image4 {
    background-image: url("../assets/images/gallery4.jpg");
}

.gallery .gallery-selection .card .image5 {
    background-image: url("../assets/images/gallery5.jpg");
}

.gallery .gallery-selection .card .image6 {
    background-image: url("../assets/images/gallery6.jpg");
}

.gallery .gallery-selection .card .image7 {
    background-image: url("../assets/images/gallery7.jpg");
}

.gallery .gallery-selection .card .image8 {
    background-image: url("../assets/images/gallery8.jpg");
}

.gallery .gallery-selection .card .check-floating {
    display: none;
}

/* Active Card (Start) */

.gallery .gallery-selection .active-card .check-floating {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--green);
    fill: var(--grey-light);
    border-color: var(--green);
}

.gallery .gallery-selection .active-card img.photo {
    border-color: var(--green);
}



/* Active Card (End) */

/* Generation (Start) */
.gallery .generation-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--green);
    margin-top: 24px;
}

.gallery .generation-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-blue);
    border-radius: 64px;
    border: 1px solid var(--secondary-blue);
    padding: 8px 16px;
    margin-top: 8px;
    background-color: var(--grey-light);
}

.gallery .question-content.part5 {
    margin: 40px 0 72px;
}

/* Generation (End) */

/* Photo Upload (Start) */
.gallery .image-upload {
    margin-top: 32px;
    padding: 24px;
    border-radius: 8px;
    border: 1px dotted var(--green);
}

.gallery .image-upload .success-message {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--green);
    margin-bottom: 25px;
}

.gallery .image-upload .personal-photo {
    width: 115px;
    height: 120px;
    border: 1px solid var(--grey-medium);
    border-radius: 8px;
    display: block;
    background-image: url("../assets/images/personal_photo.jpg");
    background-size: cover;
}

.gallery .image-upload .change-photo-btn {
    margin-top: 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border-radius: 64px;
    padding: 8px 16px;
    border: 1px solid var(--grey);
    color: var(--grey);

}


/* Photo Upload (End) */

/* Setting Date (Start) */
.gallery .question-content.part6 {
    margin: 32px 0 72px;
}

.gallery .time-answer {
    margin-top: 16px;
}

/* Setting Date (End) */

/* Gallery (End) */


/* 3- Questions and Answers (End) */


/* 4- Footer (Start) */

footer {
    background-color: var(--main-blue);
}

footer.footer-page2 .footer-btn {
    background-color: white;
    color: var(--main-blue);
    font-weight: 700;
    line-height: 100%;
}

footer.footer-page2 .footer-btn .arrow-right {
    fill: var(--main-blue);
}



footer .loader {
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    gap: 25px;
    text-transform: uppercase;
    display: none !important;
}

footer .sand-clock {
    width: 25px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

/* 4- Footer (End) */