/* Main topics: 
1- x mark
2- Slider 
3- Footer
*/
/* 1- x mark styling is in global.css (reused element)*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 200px;
}

.x-mark {
    top: 100px;
}

/* 2- Slider (Start) */


.slider {
    width: 267px;
    height: 400px;
}

/* media query */
@media(max-width:420px) {
    .slider {
        width: 167px;
        height: 300px;
    }
}

.left-arrow,
.right-arrow {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    fill: var(--grey);
}

.slider img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: block;
}

/* 2- Slider (End) */


/* 3- Footer (Start) */
footer {
    background-color: var(--main-blue);
    margin-top: 56px;
}

footer.footer-page4 .footer-btn {
    background-color: white;
    color: var(--main-blue);
    font-weight: 700;
    line-height: 100%;
}

footer.footer-page4 .footer-btn .arrow-right {
    fill: var(--main-blue);
}

@media(max-width:376px) {

    footer.footer-page4 .footer-btn {
        font-size: 14px;
        width: 98%;
    }
}

/* 3- Footer (End) */